@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', ui-sans-serif, system-ui;
  background-color: #F3F4F6; /* premiumGray */
  color: #111827; /* premiumDark */
}
